body {
    background-color: rgb(105, 105, 105) ;
}

.parent {
    width: 1300px;
    height: 530px;
    /* background-color: rgb(124, 124, 124); */
    position: absolute;
    left: 30px;
    top: 50px;
    border: none;
}

.content1 {
    width: 650px;
    height: 480px;
    position: absolute;
    border: none;
    background-color: lightblue;
}

.content2 {
    width: 650px;
    height: 480px;
    position: absolute;
    border: none;  
    left: 650px; 
    z-index: 1;
    background-color: white;
}


.content3 {
    width: 1300px;
    height: 50px;
    border: none;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 480px;

}

/**************************************************/
/***************coverings********************/
.cover1 {
    width: 1300px;
    height: 53px;
    background-color: rgb(105, 105, 105) ;
    position: absolute;
    z-index: 1;
    top: -53px;
    
}

.cover2 {
    width: 1300px;
    height: 70px;
    background-color: rgb(105, 105, 105) ;
    position: absolute;
    z-index: 1;
    top: 530px;

}














/****************************************************/

.img1 {
    width: 950px;
    position: absolute;
    top: -225px;
    left: 30px;
}



.img2 {
    width: 25px;
    position: absolute;
    top: 150px;
    left: 170px;
}

.p1 {
    position: absolute;
    top: 132px;
    left: 205px;
    color: white;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
}


.img3 {
    width: 25px;
    position: absolute;
    top: 210px;
    left: 170px;   
}

.p2 {
    position: absolute;
    top: 189px;
    left: 205px;
    color: white;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
}



.img4 {
    width: 25px;
    position: absolute;
    top: 260px;
    left: 170px
}


.p3 {
    position: absolute;
    top: 240px;
    left: 205px;
    color: white;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
}

/*********************end of content1************************/



.img5 {
    position: absolute;
    top: 60px;
    left: 150px;
    width: 50px;

}

.h2 {
    position: absolute;
    font-family: calibri;
    font-weight: bold;
    left: 150px;
    top: 100px;
    font-size: 35px;
}

.p4 {
    position: absolute;
    top: 240px;
    left: 150px;
    font-family: calibri;
    font-weight: bold;
}

.a1 {
    width:360px ;
    position: absolute;
    border: none;
    text-align: center;
    top: 290px;
    left: 150px;
    height: 40px;
    padding-top: 2px;
    background-color: rgb(33, 170, 250);
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
/* 
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-family: calibri;

} */


.a2 {
    width:360px ;
    position: absolute;
    border: 1px solid rgb(33, 170, 250);
    text-align: center;
    top: 350px;
    left: 150px;
    height: 40px;
    padding-top: 2px;
    background-color: white;
    border-radius: 20px;
    color: rgb(33, 170, 250);
}


/*********************content2 ends************************/

/*********************the anchors************************/
a:link {
         text-decoration: none;
         color: gray;
         font-family: calibri;
         font-size: 14px;

    
}

a:visited {
        text-decoration: none;
        color: gray;
        font-size: 14px;
} 

a:hover {
        transition: 333ms ease-in-out;
        color: rgb(33, 170, 250)  ;
}

a:active {
         color: gray;
         font-size: 14px;
}

/*********************the anchors ends************************/



/*********************the anchors class************************/
.a17 {
    position: relative;
    left: 250px;
    top: 13px;
    
}

.a16 {
    position: relative;
    left: 240px;
    top: 13px;
}

.a15 {
    position: relative;
    left: 230px;
    top: 13px;
}

.a14 {
    position: relative;
    left: 220px;
    top: 13px;
}

.a13 {
    position: relative;
    left: 210px;
    top: 13px;
}


.a12 {
    position: relative;
    left: 200px;
    top: 13px;
}


.a11 {
    position: relative;
    left: 190px;
    top: 13px;
}


.a10 {
    position: relative;
    left: 180px;
    top: 13px;
}

.a09 {
    position: relative;
    left: 170px;
    top: 13px;
}

.a08 {
    position: relative;
    left: 160px;
    top: 13px;
}

.a07 {
    position: relative;
    left: 150px;
    top: 13px;
}

.a06 {
    position: relative;
    left: 140px;
    top: 13px;
}

.a05 {
    position: relative;
    left: 130px;
    top: 13px;
}


.a04 {
    position: relative;
    left: 120px;
    top: 13px;
}

.a03 {
    position: relative;
    left: 110px;
    top: 13px;
}

.a02 {
    position: relative;
    left: 100px;
    top: 13px;
}


.a01 {
    position: relative;
    left: 90px;
    top: 13px;
}

















